#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  gap: 0.5rem;
  margin-left: -2.5rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}

.column {
  flex-direction: column;
}

.gap2 {
  gap: 2rem;
}

.gap5 {
  gap: 5rem;
}

.gap10 {
  gap: 10rem;
}

.box {
  border-top: 1px solid rgba(255, 255, 255, 0.87);
  min-width: 30%;
}

.box:after {
  content: '';
  height: 60%;
  width: 1px;
  
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 20%;
  
  background-color: rgba(255, 255, 255, 0.87);
}
